[workspace]

[package]
name = "mymath-lib"
version = "0.1.0"
edition = "2021"

[lib]
name = "mymath"
crate-type = ["staticlib"]

[package.metadata.xcframework]
headers-dir = "include"
iOS = true
macOS = true
simulators = true

[package.metadata.swift-package]
swift-source-dir = "src/swift"
